@define-color bg #383c4a;
@define-color blue #C6D0F5;
@define-color pink #F4B8E4;
@define-color lavendar #B7BDF8;

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 1rem;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

/* Left Module - Clock & Workspaces */

#clock {
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border: 2px solid @lavendar;
    border-radius: 10px;
    transition: none;
    color: #c6d0f5;
    background: @bg;
}

#workspaces {
    border: 2px solid @lavendar;
    border-radius: 10px;
    background: @bg;
    transition: all 350ms ease-in-out;
}

#workspaces button {
    color: @lavendar;
    background: transparent;
    padding: 6px;
    padding-left: 3px;
    box-shadow: inset 0px -0.5px 3px @blue;
}

/* hover on workspace */
#workspaces button:hover {
    background: @lavendar;
    color: @bg;
    box-shadow: inset 0px -0.5px 3px @bg;
    text-shadow: none;
    padding-bottom: 6px;
    /* margin-bottom: 0.5px; */
    font-weight: 600;
    transition: all 350ms linear;
}

#workspaces button:first-child,
#workspaces button:first-child:hover {
    border-radius: 9px 0px 0px 9px;
}

#workspaces button:last-child,
#workspaces button:last-child:hover {
    border-radius: 0px 9px 9px 0px;
}

/* active workspace */
#workspaces button.active {
    background: @blue;
    color: @bg;
    box-shadow: inset 0px -0.5px 0px @lavendar;
    transition: all 350ms linear;
    text-shadow: none;
}

#workspaces button:first-child.active {
    border-radius: 8px 0px 0px 8px;
}

#workspaces button:last-child.active {
    border-radius: 0px 8px 8px 0px;
}

#workspaces button:only-child.active {
    border-radius: 8px;
}

/* Middle Module - CPU, MPRIS & Memory*/
#cpu {
    border: 2px solid @blue;  
    color: @blue;
    background: @bg;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 10px;
    margin-right: 4px;
}

#mpris {
    border: 2px solid @pink;  
    color: @blue;
    background: @bg;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 10px;
    margin-right: 4px;
}

#memory {
    border: 2px solid @blue;  
    color: @blue;
    background: @bg;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 10px;
    margin-right: 4px;
}

/* Right Module - Taskbar (system tray) & Audio */
#taskbar{
    margin-right: 8px;
    padding: 0px;
    border: 2px solid @lavendar;
    border-radius: 10px;
    background: @bg;
    transition: all 350ms ease-in-out;
}

#taskbar button {
    color: @lavendar;
    background: transparent;
    padding: 6px;
    padding-left: 3px;
    box-shadow: inset 0px -0.5px 3px @blue;
}

/* hover on taskbar item*/
#taskbar button:hover {
    background: @lavendar;
    color: @bg;
    box-shadow: inset 0px -0.5px 3px @bg;
    text-shadow: none;
    padding-bottom: 6px;
    /* margin-bottom: 0.5px; */
    font-weight: 600;
    transition: all 350ms linear;
}

#taskbar button:first-child,
#taskbar button:first-child:hover {
    border-radius: 9px 0px 0px 9px;
}

#taskbar button:last-child,
#taskbar button:last-child:hover {
    border-radius: 0px 9px 9px 0px;
}

/* active taskbar item*/
#taskbar button.active {
    background: @blue;
    color: @bg;
    box-shadow: inset 0px -0.5px 0px @lavendar;
    transition: all 350ms linear;
    text-shadow: none;
} 

#taskbar button:first-child.active {
    border-radius: 8px 0px 0px 8px;
}

#taskbar button:last-child.active {
    border-radius: 0px 8px 8px 0px;
} 

#taskbar button:only-child.active {
    border-radius: 8px;
}

#pulseaudio {
    padding-left: 8px;
    padding-right: 8px;
    border: 2px solid @lavendar; 
    border-radius: 10px;
    transition: none;
    color: @blue;
    background: @bg;
}

