@define-color bg              #383c4a;
@define-color blue            #C6D0F5;
@define-color pink            #F4B8E4;
@define-color lavendar        #B7BDF8;

* {
    border: none;
    border-radius: 0;
    font-family: JetbrainsMono Nerd Font;
    font-size: 0.925rem;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

/* Left Module - Clock & Workspaces */
#clock {
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    border: 2px solid @lavendar;
    border-radius: 10px;
    transition: none;
    color: #C6D0F5;
    background: @bg;
}

#workspaces {
    font-size: 1.25rem;
    border: 2px solid @lavendar;
    border-radius: 10px;
    background: @bg;
    transition: all 250ms ease-in-out;
}

#workspaces button {
    color: @lavendar;
    background: transparent;
    padding: 4px;
    padding-right: 10px;
    box-shadow: inset 0px -0.5px 3px @blue;
}

#workspaces button:hover {
    background: @lavendar;
    color: @bg;
    box-shadow: inset 0px -0.5px 3px @bg;
    text-shadow: none;
    padding-bottom: 6px;
    font-weight: 600;
    transition: all 250ms linear;
}

#workspaces button:first-child,
#workspaces button:first-child:hover {
    border-radius: 8px 0px 0px 8px;
}

#workspaces button:last-child,
#workspaces button:last-child:hover {
    border-radius: 0px 8px 8px 0px;
}

#workspaces button.active {
    background: @blue;
    color: @bg;
    box-shadow: inset 0px -0.5px 3px @lavendar;
    transition: all 250ms linear;
    text-shadow: none;
}

#workspaces button:first-child.active {
    border-radius: 8px 0px 0px 8px;
}

#workspaces button:last-child.active {
    border-radius: 0px 8px 8px 0px;
}

#workspaces button:only-child.active {
    border-radius: 8px;
}

/* Middle Module - CPU, MPRIS & Memory*/
#cpu {
    border: 2px solid @blue;  
    color: @blue;
    background: @bg;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 10px;
    margin-right: 4px;
}

#mpris {
    border: 2px solid @pink;
    color: @blue;
    background: @bg;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 10px;
    margin-right: 4px;
}

#memory {
    border: 2px solid @blue;  
    color: @blue;
    background: @bg;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 10px;
    margin-right: 4px;
}

/* Right Module - Taskbar (system tray) & Audio */
#taskbar {
    margin-right: 8px;
    padding: 0px;
    border: 2px solid @lavendar;
    border-radius: 10px;
    background: @bg;
    transition: all 250ms ease-in-out;
}

#taskbar button {
    color: @lavendar;
    background: transparent;
    padding: 6px;
    box-shadow: inset 0px -0.5px 3px @blue;
}

#taskbar button:hover {
    background: @lavendar;
    color: @bg;
    box-shadow: inset 0px -0.5px 3px @bg;
    text-shadow: none;
    padding-bottom: 6px;
    font-weight: 600;
    transition: all 250ms linear;
}

#taskbar button:first-child,
#taskbar button:first-child:hover {
    border-radius: 8px 0px 0px 8px;
}

#taskbar button:last-child,
#taskbar button:last-child:hover {
    border-radius: 0px 8px 8px 0px;
}

#taskbar button.active {
    background: @blue;
    color: @bg;
    box-shadow: inset 0px -0.5px 3px @lavendar;
    transition: all 250ms linear;
    text-shadow: none;
}

#taskbar button:first-child.active {
    border-radius: 8px 0px 0px 8px;
}

#taskbar button:last-child.active {
    border-radius: 0px 8px 8px 0px;
}

#taskbar button:only-child.active {
    border-radius: 8px;
}

#pulseaudio {
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border: 2px solid @lavendar; 
    border-radius: 10px;
    transition: none;
    color: @blue;
    background: @bg;
}
