# Unwanted or private app folders
/calibre/
/discord/
/Electron/
/dconf/
/go/
/gtk-3.0/
/gtk-4.0/
/pnpm/
/obsidian/
/pulse/
/sh.cider.genten/
/StardewValley/
/VSCodium/
/VPNetworkLLC/
/QtProject.conf

# Backup/Swap/Cache files
*.swp
*.bak
*~
.cache/
logs/
*.log

# local build tool config
/.git/
/yay/
/nautilus/

# misc
/user-dirs.dirs
/user-dirs.locale