/* lumon */
/* $bg: #18232a; */
/* $bg-green: #163f38; */
/* $fg: #98b6b0; */
/* $silver: #d6e0e2; */
/* $white: #f7f6f9; */
/* $light-blue: #7f96ae; */
/* $blue: #307191; */

/* $border-pri: $bg-green; */
/* $border-sec: $silver; */

/* catppuccin */
$dark-blue: #383c4a;
$light-blue: #c6d0f5;
$gray: #7c818c;
$white: #f9f5f4;
$pink: #f4b8e4;
$lavendar: #b7bdf8;

$border-pri: $light-blue;
$border-sec: $pink;
$border-w: 2px;
$br-inner: 8px;
$br-outer: 10px;

@import "scss/control-center.scss";
@import "scss/bar.scss";

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 1rem;
}
