/* SOUND WIDGET */
.control-center-container {
  background-color: $dark-blue;
  border: $border-w solid $lavendar;
  border-radius: $br-outer;
  padding: 8px;
  color: $light-blue;
  font-family: "JetBrainsMono Nerd Font";
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  .control-center-stats {
    color: $light-blue;
    font-weight: 700;
    font-size: 1rem;
    border: $border-sec;
    border-radius: $br-inner;
  }

  .section {
    background-color: lighten($dark-blue, 8%);
    border-radius: $br-outer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);

    &:first-child {
      // sound
      /* padding-bottom: 16px; */
    }
  }
  .section-title {
    font-size: 0.9rem;
    font-weight: 600;
    color: $light-blue;
    padding-top: 8px;
    padding-left: 8px;
  }
}

/* control center */
.control-center {
  background-color: $dark-blue;
  border-radius: $br-outer;
}

.app-launcher {
  border: $border-pri;
  border-radius: $br-outer;
  background-color: $dark-blue;
  box-shadow: inset 0px -0.5px 3px $light-blue;

  padding: 8px;
  font-weight: 500;
  background-color: lighten($dark-blue, 8%);
  border: $border-sec;
  border-radius: $br-inner;
  box-shadow: inset 0px -0.5px 3px $light-blue;
}

.stats-container {
  background-color: lighten($dark-blue, 8%);
  border: $border-sec;
  border-radius: $br-inner;
  box-shadow: inset 0px -0.5px 3px $light-blue;
}

/* cpu & gpu */
.stats {
  /* border: $border-pri; */
}

.stat-circle {
  color: $lavendar;
  background: $dark-blue;
}

.stat-label,
.stat-num {
  color: $light-blue;
  padding-top: 4px;
}

/* buttons */
.sound-button {
  background-color: $dark-blue;
  color: $light-blue;
  border: $border-w solid $border-pri;
  border-radius: $br-inner;
  padding: 4px 10px;
  transition:
    background 300ms ease,
    color 200ms;

  &:hover {
    background-color: lighten($dark-blue, 22%);
    color: $white;
    border-color: $lavendar;
  }
}

.power-button {
  background-color: $dark-blue;
  color: $light-blue;
  border: $border-w solid $border-pri;
  border-radius: $br-inner;
  padding: 2px 8px;
  transition:
    background 300ms ease,
    color 200ms;

  &:hover {
    background-color: lighten($dark-blue, 22%);
    color: $white;
    border-color: $lavendar;
  }
}
