* {
    border: none;
    border-radius: 0;
    font-family: Liberation Mono;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    border: 2px solid #c6d0f5;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
}

#workspaces button {
    transition: none;
    color: #c6d0f5;
    background: transparent;
    padding: 5px;
    font-size: 18px;
}

#workspaces button.persistent {
    color: #c6d0f5;
    font-size: 12px;
}

#workspaces button.active {
    color: #fff;
    font-size: 16px;
    background: #7c818c;
    border-radius: inherit;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border: 2px solid #c6d0f5;
    border-radius: inherit;
    color: #fff;
    font-size: 16px;
}

#workspaces button.focused {
    color: white;
}

#cpu {
    border: 2px solid #c6d0f5;  
    color: #c6d0f5;
    background: #383c4a;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 10px;
    transition: none;

    margin-right: 4px;
}

#memory {
    border: 2px solid #c6d0f5;  
    color: #c6d0f5;
    background: #383c4a;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 10px;
    transition: none;

    margin-left: 4px;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border: 2px solid #c6d0f5;
    border-radius: 10px;
    transition: none;
    color: #c6d0f5;
    background: #383c4a;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: 2px solid #c6d0f5;
    border-radius: 10px;
    transition: none;
    color: #c6d0f5;
    background: #383c4a;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border: 2px solid #c6d0f5;
    border-radius: 10px;
    transition: none;
    color: #c6d0f5;
    background: #383c4a;
}

@keyframes blink {
    to {
        background-color: #c6d0f5;
        color: #000000;
    }
}
