/* BOTTOM DOCK */
.dock-container {
  background-color: $white;
  border: $border-w solid $silver;
  border-radius: 10px;
  padding: 8px;
  color: $blue;
  font-family: "UbuntuMono Nerd Font", monospace;
  font-size: 26px;
  box-shadow: inset 0px -0.5px 16px $light-blue;

  .dock-button {
    background-color: $white;
    border: $border-w solid $light-blue;
    border-radius: $br-inner;
    padding: $br-inner;
    padding-right: 9px;

    &:hover {
      background-color: $silver;
      color: $bg;
      transition: all 250ms ease-in;
      box-shadow: inset 0px -0.5px 3px $border-sec;
    }
  }
}
