/* TOP BAR */
.bar-container {
  font-weight: 600;
}

/* modules  */
.left-mod {
  border-left: 4px solid transparent;
}

.center-mod {
  color: $blue;
  border-radius: $br-inner;
}

.center-submod {
  background: $white;
  border: $border-pri;
  border-radius: $br-inner;
  padding-left: 4px;
  padding-right: 4px;
}

.right-mod {
  /* border: $border-w solid cyan; */
  border-right: 4px solid transparent;
}

/* left mod widgets */
.time {
  color: $bg-green;
  background: $white;
  padding: 8px;
  border: $border-pri;
  border-radius: $br-outer;
}

.workspaces {
  border: $border-sec;
  border-radius: $br-outer;
}

.workspace-button {
  padding-left: 20px;
  padding-right: 20px;

  color: $silver;
  background: $white;
  box-shadow: inset 0px -0.5px 3px $silver;
}

.workspace-button:first-child {
  border-radius: 8px 0px 0px 8px;
}

.workspace-button:last-child {
  border-radius: 0px 8px 8px 0px;
}

.workspace-button:hover {
  background: $fg;
  color: $white;
  box-shadow: inset 0px -0.5px 3px $white;
  font-weight: 600;
  transition: all 250ms ease-in-out;
}

/* .workspaces button.active { */
/*   background: $light-blue; */
/*   color: $white; */
/* } */

/* center mod widgets  */
.music {
  background: $white;
  border: 2px solid $blue;
  border-radius: $br-outer;
}

.now-playing {
  color: $blue;
  padding: 8px;
}

/* right mod widgets  */
.volume {
  color: $bg-green;
  background: $white;
  padding: 8px;
  border: $border-pri;
  border-radius: $br-outer;
}

/* right mod widgets */
/* .taskbar-container { */
/*   border: $border-sec; */
/*   border-radius: $br-outer; */
/* } */
/**/
/* .taskbar-item { */
/*   padding-left: 2px; */
/*   padding-right: 2px; */
/**/
/*   color: $silver; */
/*   background: $white; */
/*   box-shadow: inset 0px -0.5px 3px $silver; */
/* } */
/**/
/* .taskbar-item:first-child { */
/*   border-radius: 8px 0px 0px 8px; */
/* } */
/**/
/* .taskbar-item:last-child { */
/*   border-radius: 0px 8px 8px 0px; */
/* } */
/**/
/* .taskbar-item:hover { */
/*   background: $fg; */
/*   color: $white; */
/*   box-shadow: inset 0px -0.5px 3px $white; */
/*   font-weight: 600; */
/*   transition: all 250ms ease-in-out; */
/* } */
