$bg:              #18232a;
$bg-green:        #163f38;
$fg:              #98b6b0;
$silver:          #d6e0e2;
$white:           #f7f6f9;
$light-blue:      #7f96ae;
$blue:            #307191;


* {
  all: unset;
}

.dock-container {
  background-color: $white;
  border: 2px solid $blue;
  border-radius: 6px;
  padding: 8px;
  color: $blue;
  font-family: "UbuntuMono Nerd Font", monospace;
  font-size: 26px;
  box-shadow: inset 0px -0.5px 16px $light-blue;

  .dock-button {
    background-color: $white;
    border: 2px solid $light-blue;
    border-radius: 8px;
    padding: 6px;
    padding-right: 9px;

    &:hover {
      background-color: $silver;
      color: $bg;
      transition: all 250ms ease-in;
      box-shadow: inset 0px -0.5px 3px $silver;
    }
  }
}

.sound-container {
  background-color: lighten($light-blue, 30%);
  border: 2px solid $blue;
  border-radius: 6px;
  padding: 8px;
  font-family: "UbuntuMono Nerd Font", monospace;
  font-size: 22px;
  color: $white;
  box-shadow: inset 0px -0.5px 3px $fg; 

  .sound-button {
    color: $blue;
    background-color: $white;
    border: 2px solid $silver;
    border-radius: 8px;
    padding-top:8px;
    padding-bottom:8px;
    box-shadow: inset 0px -0.5px 3px $fg; 

    &:hover {
      background-color: $silver;
      color: $bg;
      transition: all 250ms ease-in;
      box-shadow: inset 0px -0.5px 3px $fg;
    }
  }
}  