// Colors
$bg: #18232a;
$bg-green: #163f38;
$fg: #98b6b0;
$silver: #d6e0e2;
$white: #f7f6f9;
$light-blue: #7f96ae;
$blue: #307191;
$border-pri: $bg-green;
$border-sec: $silver;

$border-w: 2px;
$br-inner: 8px;
$br-outer: 10px;

@import "scss/dock.scss";
@import "scss/sound-dropdown.scss";
@import "scss/bar.scss";

* {
  all: unset;
  font-family: "42dot Sans", sans-serif;
  font-size: 1rem;
}
